.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw; 
  height: 100vh; 
  padding: 10px;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column;
}

.home-title {
  font-family: 'Poppins', sans-serif; 
  font-size: 4vw; 
  width: 100%;
  font-weight: bold;   
  color: #d32f2f;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  margin-bottom: 8px;
  transition: transform 0.3s ease-in-out;
}


.home-title:hover {
  transform: scale(1.05); 
}

.icon {
  align-items: left;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 8%;
}

.icon-left {
  width: 35px; 
  height: 35px;
  cursor: pointer;

}

.home-icon {
  margin-top: 150px;

}

.explore-icon {
  margin-top: 30px;
}

.user-icon {
  margin-top: 30px;
}

.menu-icon {
  margin-top: 250px;

}

.active .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}

.profile {
  display: flex;
  margin-top: auto;
  margin-left: 6%;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile .profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  width: 100%;
  font-size: 18px;
}
.profile-name {
  display: flex;
  font-weight: bold;
  width: 100%;
}

.profile-username {
  display: flex;
  font-size: 100%;
}

.profile-popup {
  position: fixed;
  bottom: 180px;
  left: 2%; 
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.popup-item {
  padding: 12px 12px;
  background-color: white;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
}

.popup-item:hover {
  background-color: #f0f0f0;
}
