.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 25vw; 
  height: 100vh;   
  padding: 10px;
  box-sizing: border-box;
  z-index: 0;
  display: flex;
}

.bell-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 40px; 
}

.icon-right {
  width: 35px;  
  height: 35px; 
  cursor: pointer;
}

.icon-small {
  width: 20px;  
  height: 20px; 
}

.noti-dropdown {
  position: fixed;
  top: 50px;
  margin-left: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 10;
  display: flex;
  flex-direction: column;

  padding: 12px 12px;
  background-color: white;
  width: 22vw;
  max-height: 50vh;
  font-size: 18px;
  border: 1px solid black; 
  overflow-y: auto; 
  scrollbar-width: none;
}

.noti {
  padding: 5px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black; 
}

.noti-header {
  display: flex;
  margin-top: 2%;
}

.timestamp {
  font-size: 18px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.noti-content {
  text-align: left;
  margin-left: 12%; 
}
